
/*example2*/
.exam1{
	font-size: 40px;
	color: blue;

}
.box2 {
    height: 100px;
    width: 400px;
    background-color: #D94A38;
}
    /*example3*/
    .p{
     font-size: 20px;
    }